{{ 'output.css' | asset_url | stylesheet_tag }}

<div class="buoy-btn">
  <img src="{{ 'chat-icon.svg' | asset_url }}" width="32" height="32" alt="chat" />
</div>

<iframe class="buoy-chat-frame" src="https://www.wikipedia.org?id={{ shop.id }}&url={{ shop.secure_url }}&customer={{ customer.id }}"></iframe>

<script>
  const btn = document.querySelector('.buoy-btn');
  const iframe = document.querySelector('iframe');

  btn.addEventListener('click', () => {
    if (iframe.style.opacity === '1') {
      iframe.style.opacity = '0';
      iframe.style.transform = 'scale(0)';
    } else {
      iframe.style.opacity = '1';
      iframe.style.transform = 'scale(1)';
    }
  });

  // Set the src of the iframe to the product URL
  const productUrl = '{{ product.url }}';

  console.log('Product URL:', productUrl);

  const handleMessage = (event) => {
    if (event.origin !== 'https://reactchatwidget.com') return;
    console.log('Received from iframe:', event.data);

    if (event.data === 'closeChat') {
      iframe.style.opacity = '0';
      iframe.style.transform = 'scale(0)';
    }
  };

  window.addEventListener('message', handleMessage);

  const sendTokenToIframe = () => {
    iframe.contentWindow.postMessage(
      { type: 'set-token', payload: 'abc123' },
      'https://reactchatwidget.com'
    );
  };


</script>

{% schema %}
{
  "name": "Buoy AI Chat",
  "target": "body",
  "settings": [
    { "type": "product", "id": "product", "label": "product", "autofill": true, },
    { "type": "text", "id": "source", "label": "source", "default": "https://www.wikipedia.org/" },
    { "type": "text", "id": "icon", "label": "icon", "default": "chat-icon.svg" },
  ],
}
{% endschema %}

{% render 'product_tracking' %}


